<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BAD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,71},{154,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,86}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>BAD-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>BAD-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,71},{154,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,86}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>BAD-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>BAD-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,71},{154,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,86}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>BAD-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>COMBO-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,38},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,38},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,33},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,33},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,33},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,14},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,12},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,12},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COMBO-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,12},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>COOL-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>COOL-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>COOL-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>COOL-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>COOL-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>COOL-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>GOOD-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,76},{198,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,86}}</string>
                <key>sourceSize</key>
                <string>{198,86}</string>
            </dict>
            <key>GOOD-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>GOOD-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,76},{198,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,86}}</string>
                <key>sourceSize</key>
                <string>{198,86}</string>
            </dict>
            <key>GOOD-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>GOOD-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,76},{198,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,86}}</string>
                <key>sourceSize</key>
                <string>{198,86}</string>
            </dict>
            <key>GOOD-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>GREAT-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,95},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>GREAT-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,95},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>GREAT-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,90},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>GREAT-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,90},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>GREAT-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,76},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>GREAT-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,76},{231,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,86}}</string>
                <key>sourceSize</key>
                <string>{231,86}</string>
            </dict>
            <key>bar_below_groove_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,4}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>bomb-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1084},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1070},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,787},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,782},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,768},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,624},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,485},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,480},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,466},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,222},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,183},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,178},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>bomb-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,164},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>csnumbers-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>csnumbers-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>fast-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,2},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,28},{431,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,41}}</string>
                <key>sourceSize</key>
                <string>{431,41}</string>
            </dict>
            <key>hpbar-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>hpbar-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>keypressed2468.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,71},{57,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{57,94}</string>
            </dict>
            <key>keypressed2468_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,53},{57,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{57,94}</string>
            </dict>
            <key>keypressed357.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,12},{39,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,73}}</string>
                <key>sourceSize</key>
                <string>{39,73}</string>
            </dict>
            <key>keypressed357_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,12},{39,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,73}}</string>
                <key>sourceSize</key>
                <string>{39,73}</string>
            </dict>
            <key>light1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,130},{90,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,555}}</string>
                <key>sourceSize</key>
                <string>{90,555}</string>
            </dict>
            <key>light2468-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,71},{51,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,555}}</string>
                <key>sourceSize</key>
                <string>{51,555}</string>
            </dict>
            <key>light357-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,33},{41,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,569}}</string>
                <key>sourceSize</key>
                <string>{41,569}</string>
            </dict>
            <key>notes_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{28,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,10}}</string>
                <key>sourceSize</key>
                <string>{28,10}</string>
            </dict>
            <key>notes_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{62,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,10}}</string>
                <key>sourceSize</key>
                <string>{62,10}</string>
            </dict>
            <key>notes_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{36,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,10}}</string>
                <key>sourceSize</key>
                <string>{36,10}</string>
            </dict>
            <key>playm_gg-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>playm_gg-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>redbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{432,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,8}}</string>
                <key>sourceSize</key>
                <string>{432,8}</string>
            </dict>
            <key>score_acc_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{96,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,35}}</string>
                <key>sourceSize</key>
                <string>{96,35}</string>
            </dict>
            <key>slow-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,2},{70,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,29}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>stage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1089},{530,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,366}}</string>
                <key>sourceSize</key>
                <string>{530,366}</string>
            </dict>
            <key>tex3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>tex3_2468.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>tex3_357.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>tex5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>tex5_2468.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>tex5_357.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iidx.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ec57d8bf91d14064dcd002be6a9db0d:1/1$</string>
            <key>textureFileName</key>
            <string>iidx.png</string>
        </dict>
    </dict>
</plist>
